<h2>Summary</h2>

<table class="table">
  <thead>
    <tr>
      <th>Category</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
<%= for line <- @lines do %>
    <tr>
      <td><%= Enum.at(line,0) %></td>
      <td><%= Enum.at(line,1) %></td>
    </tr>
<% end %>
  </tbody>
</table>
